<div>
  <div class="d-flex justify-content-end">  
    <div class="m-3">
      <p>Most Recent</p>
    </div>
    <div class="m-3">
      <p>Most Ancient</p>
    </div>
  </div>

  <div class="shadow p-3 mb-5 bg-light rounded">
    <h4> <%= @category_details.name %> </h4>
    <h6 class="d-flex justify-content-end"> Total amount of the category, sum of all expenses in that category </h6>
  </div>

  <div class="m-5 shadow p-3 mb-5 bg-light rounded">
    <% @expenses.each do |expense| %>
      <h5> <%= expense.name %> </h5>
      <p class="d-flex justify-content-end"> $ <%= expense.amount %> </p>
      <div class="border-top">
        <p> <%= expense.created_at.strftime('%d %h %Y') %> </p>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-primary"> 
     <%=link_to 'Add a new expense', new_home_page_expense_path, class: "text-white text-decoration-none" %>
    </button>
</div>

