<div>
  <div class="expenses-page-heading">
    <div class="expenses-page-heading1">
      <i class="fa fa-bars" style="font-size:36px"></i>
      <h4 class="home-pages-title"> TRANSACTIONS </h4>
      <i class="fa fa-search" style="font-size:36px"></i>
    </div>
    <div>
      <h4 class="d-flex justify-content-center"> Most Recent</h4>
    </div>
  </div>

  <div class="shadow p-3 mb-5 bg-light rounded">
    <h4> <%= @category_details.name %> </h4>
    <h6 class="d-flex justify-content-end"> $ <%= @total_amount %> </h6>
  </div>

  <div class="expense-body">
    <% @expenses.each do |expense| %>
      <div class="m-5 shadow p-3 mb-5 bg-light rounded">
        <h5> <%= expense.name %> </h5>
        <p class="d-flex justify-content-end"> $ <%= expense.amount %> </p>
        <div class="border-top">
          <p> <%= expense.created_at.strftime('%d %h %Y') %> </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center">
   <button type="button" class="btn btn-primary"> 
     <%=link_to 'Add a new expense', new_home_page_expense_path, class: "text-white text-decoration-none" %>
    </button>
</div>

